body{
    background-color: #fae7d6;
}
h1{
    font-family: poppins;
    text-align: center;
    font-size: 70px;
    color: rgb(80, 45, 50)
}
h2{
    font-family: poppins;
    text-align: center;
    font-size: 40px;
    color: rgb(132, 71, 80)
    
}
a{
    color:rgb(80, 45, 50);

}

p{
    text-align: center; 
}

.award{
    text-align: left;
    margin-left:38%;
}

.button{
    position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
    border-color: #9b4156;
    background-color: #ffc0cf;
    padding: 30px;
    border-radius: 10px;
    font-family: inter;
    border-width: 5px;
    border-style: solid;
    font-size: 20px;
}
.album img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.album {
    height: 200px;
    width: 200px;
    border: 5px solid #855945; 
    background-color: #ffc0cf;
    margin: 30px;
    padding: 10px
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.pic {
    width: 200px;
    height: 200px;
}

.deco1{
    position: absolute;
    left: 10%;
    top:60%;
    width: 250px;
    height: 250px;
}
.deco2{
    position: absolute;
    left: 70%;
    top:20%;
    width: 250px;
    height: 250px;
}
h3{
    font-size: 50px;
    font: poppins;
    text-align: center;
}

.bigpic1{
    position: absolute;
	left: 20%;
    top:40%;
	transform: translate(-50%, -50%);
    height: 450px;
    width: 450px;
}
.bigpic2{
    position: absolute;
	left: 80%;
    top:30%;
	transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}
.bigpic3{
    position: absolute;
	left: 85%;
    top:65%;
	transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
}
.cmts{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.submit{
    position: relative;
    left: 40%;
    transform: translateX(-50%);
}

h4{
    text-align: center;
}